body {
	margin:0;
	padding:0;
}

.header {
		height:100vh;
		background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://i.pinimg.com/originals/58/19/1b/58191b1a0b1cceaff9b1f4407fb9934a.jpg");
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: sans-sarif:
}

h1{
	color:#fff;
	margin-bottom:70px;
	font-size:45px;
	letter-spacing:2px;
	text-align:center;
}

.search-field{
		height:50px;
		padding:10px;
		border:none;
		border-radius:25px;
		outline:none;
}

.book{
width:600px;
}

.search-btn{
		height: 50px;
		width: 150px;
		background: #ffeb3b
		border:none;
		color: #000;
		border-radius: 25px;
}

.search-btn:hover{
			background:#ffc107;
			cursor:pointer;
}

.form-box{
		background:rgba(0,0,0,0.5);
		padding:30px;
}
			




